body { 
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBoard {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.cell {
    min-width: 125px;
    min-height: 125px;
}

div.hidden {
    display: none;
}

.gameText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.startScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}